* {
    margin: 0;
    padding: 0;
}
#svg {
    display: block;
    position: absolute;
    top:20px;
    left: 20px;
}
#wrapper {
    display: block;
    position: absolute;
    top:20px;
    left: 20px;
    width: 313px;
    height: 500px;
    border: 1px solid red;
}
#game-wrapper {
    width: 400px;
    height: 570px;
    border: 3px solid yellow;
}
input[type=button] {
    position: absolute;
    top: 250px;
    left: 115px;
    width: 120px;
    height: 50px;
    background-color: #040004;
    color: #D3FFEB;
    font-family: 'Comic Sans MS', 'Consolas', 'Arial';
    font-weight: bold;
    font-size: 20px;
}
