* {
    margin: 0;
    padding: 0;
    font-family:'Comic Sans MS', 'Consolas', 'Arial';
    font-weight: bold;
    color: lightcyan;
}
#restart {
    color: mediumslateblue;
}
#svg {
    display: block;
    position: absolute;
    top:23px;
    left: 23px;
}
#wrapper {
    display: block;
    position: absolute;
    padding: 0;
    top:20px;
    left: 20px;
    width: 313px;
    height: 500px;
    border: 3px solid gray;
}
#game-wrapper {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 20px;
    width: 400px;
    height: 570px;
    border: 5px outset gray;
    background-image: url('../img/game-back.jpeg');
}
input[type=button] {
    position: absolute;
    top: 250px;
    left: 115px;
    width: 120px;
    height: 50px;
    background-color: #040004;
    font-size: 20px;
    border: 5px outset;
}
#fuel {
    position: relative;
    top: 540px;
    left: 55px;
    width: 150px;
    height: 15px;
    border: 2px solid lightcyan;
}
#fuel div {
    height: 9px;
    margin: 3px;
    background-color: mediumslateblue;
    z-index: 100;
}
#score {
    width: 45px;
    height: 100px;
    border: 2px solid lightcyan;
    top: 20px;
    left: 345px;
    text-align: center;
}
span {
    position: absolute;
    top: 538px;
    left: 20px;
}
span:last-of-type {
    position: absolute;
    top: 538px;
    left: 220px;
}
#reload {
    display: block;
    position: absolute;
    top:23px;
    left: 23px;
    width: 313px;
    height: 500px;
}
